body{
   background-image: url(../img/boku.jpg);
  background-size: cover;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
  
  h1 {
    font-size: x-large;
    color: rgba(255, 255, 255, 0.953);
    text-align: center;
    
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  #update{
      background-image: linear-gradient(to right,rgba(239, 42, 207, 0.994), rgba(6, 210, 210, 0.954));
      width: 100%;
      border: none;
      padding: 15px;
      color: white;
      font-size: 15px;
      cursor: pointer;
      border-radius: 10px;
      text-decoration: none;
  
    }
     #update:hover{
         background-image: linear-gradient(to right,rgb(143, 0, 172), rgb(10, 135, 147));

     }
      
     .tela-login{
       background-image:linear-gradient(to right,rgb(75, 76, 75), rgb(0, 0, 0));
       top: 50%;
       left: 50%;
       padding: 80px;
       border-radius: 15px;
       color: white;
       


      }
      
    
      .table-bg{
        background: rgba(0, 0, 0,0.3);
       border-radius: 15px 15px 0 0;
      }

      .painel{
        font-family: verdana;
          font-size: 15px;
           color: #a7ff04;
        }
     #app{
      background-image: linear-gradient(to right,rgba(239, 42, 207, 0.994), rgba(6, 210, 210, 0.954));
      width: 10%;
      border: none;
      padding: 15px;
      color: white;
      font-size: 15px;
      cursor: pointer;
      border-radius: 10px;
      text-decoration: none;
      position: absolute;
    }

    form .row img
    {
     width: 60px;
     height: 60px;
     cursor: pointer;

    }
      
